<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="UmengChannel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><applicationSettings>
        <UmengChannel.Properties.Settings>
            <setting name="txtAndroid_SDK_Path" serializeAs="String">
                <value>D:\Android\android-sdk-windows</value>
            </setting>
            <setting name="txtJDK_Path" serializeAs="String">
                <value>C:\Program Files\Java\jdk1.6.0_22</value>
            </setting>
        </UmengChannel.Properties.Settings>
    </applicationSettings>
</configuration>
